.thumbnail:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.thumbnail a {
    text-align: center;
    text-decoration: none;
}

#navRight{
    color: white !important;
    font-size: 150% !important;
    margin-top: 10px !important;
}

#connection{
    margin-top:  10px !important;
}