.col-sm-6>.thumbnail:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.mainContainer .thumbnail a {
    text-align: center;
    text-decoration: none;
}

#navRight {
    color: white !important;
    font-size: 150% !important;
    margin-top: 10px !important;
}

#connection {
    margin-top: 10px !important;
}

#titre{
    margin-left: 20%;
}

#titre>p{
    color: chartreuse !important;
    margin-top: 10;
    font-size: 150%;
    font-family: 'Arial' !important;
}
.descripTitle{
    margin-bottom: 50px !important;
}

.col-md-6>.thumbnail>p{
    float: right;
    margin-top: 25px;
}

.caractTitle{
    margin-left: 25px;   
    margin-bottom: 25px;   
}
.caract{
    margin-bottom: 10px;
}

.retourBtn{
    float: right;
}

.retourBtn>a{
    background-color: #8FCF3C;
}



