.col-sm-6>.thumbnail:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.mainContainer .thumbnail a {
    text-align: center;
    text-decoration: none;
}

#navRight {
    color: white !important;
    font-size: 150% !important;
    margin-top: 10px !important;
}
/*.navbar{
    background-color: white !important;
     border-bottom: 2px solid #999087 !important; 
}

.navbar a:hover{
    color: black !important;
}*/
#connection {
    margin-top: 10px !important;
}

#titre{
    margin-left: 25%;
}

.form-control{
    margin-bottom: 10px !important;
}

#titre>p{
    color: #999087 !important;
    margin-top: 10;
    font-size: 150%;
    font-family: 'Arial' !important;
}
.descripTitle{
    margin-bottom: 50px !important;
}

.col-md-6>.thumbnail>p{
    float: right;
    margin-top: 25px;
}

.caractTitle{
    margin-left: 25px;   
    margin-bottom: 25px;   
}
.caract{
    margin-bottom: 10px;
}

.retourBtn, .commanderBtn{
    margin-left: 10px;
    float: right;
}

#panierContainer .thumbnail{
    display: inline-block !important;   
    border: 0px !important;
}
#whishlistContainer .thumbnail{
    display: inline-block !important;
    border: 0px !important;
}

#mainContainer .thumbnail{
    border: 2px solid #999087 !important;
}
.list-group-item{
    border-radius: 5px 5px 5px 5px !important;
    margin-top: 5px !important;
}
.list-group-item, .list-group-item>.thumbnail{
    background-color: white !important;
}

.list-group-item:hover{
    border: 1px black solid;
}

.logo{
    width: 25px !important;
    height: 25px !important;
}

.logo2{
    width: 35px !important;
    height: 35px !important;
    background-color: white !important;
}  
/*
.btn{
    background-color: white;
}

.btn:hover{
    background-color: rgba(153, 144, 135, 0.4);
}*/